* {
    box-sizing: border-box;
}

.header {
    background-color: rgb(175, 174, 174);
    height: 50px;
    text-align: center;
    padding: 10px;
}

.root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    background-color: bisque;
    height: 300px;
    display: flex;
    flex-direction: row;
}

.aside {
    background-color: green;
    min-height: 300px;
    width: 30%;
    text-align: center;
    padding: 20px;
}

.article {
    background-color: bisque;
    min-height: 300px;
    width: 70%;
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.text {
    text-align: center;
}

.wrapp {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
}

.addition3 {
    background-color: orange;
    height: 40px;
    width: 800px;
    padding: 10px;
}

.addition {
    background-color: orange;
    height: 40px;
    width: 360px;
    padding: 10px;
}

.footer {
    background-color: rgb(175, 174, 174);
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.basement {
    background-color: blanchedalmond;
    height: 50px;
    width: 150px;
    text-align: center;
    vertical-align: center;
    padding: 15px;
}